body
{
background-color:black;
color:white;
}
img.CLASS_blob
{
opacity:0.0;
position:fixed;
animation: flash 1s linear 0s;
animation-play-state:paused;
/animation-fill-mode:backwards;
/animation-direction: alternate;
}
/*img.CLASS_blob:hover
{
opacity:0.85;
}*/
@keyframes flash
{
0% {opacity:0.0;}
50% {opacity:0.85;}
100% {opacity:0.0;}
}